/* Google Web Font : Montserrat */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

/* FontAwesome CDN 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* Reset CSS */
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Default CSS */
body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0;
  height: 100vh;
  background-color: #fff;
}

/* Entire Layout */
.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.content {
  background-color: #ddd;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}
/* 이미지를 콘텐츠크기에 맞게 수정 */
.content img {
  width: 100%;
  height: 100%;
}
/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.gnb-inner {
  /* border: 1px solid #000; */
  width: calc(100% - 40px);
  margin: auto;
  height: 60px;
  line-height: 60px;
}
.logo {
  float: left;
}
.logo img {
  padding-top: 17px;
}
.gnb {
  float: right;
}
.menu {
  display: none;
}
.slogan {
  font-size: 18px;
  font-style: italic;
}
.trigger {
  display: none;
}

/* Hiring Button */
.btn-hiring {
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #00000045;
  transition: 0.5s;
}

.btn-hiring .fa {
  transform: rotateY(180deg);
  margin-right: 5px;
}

.btn-hiring:active {
  transform: scale(0);
}
/* ################### Section : about ###################*/
.about-inner {
  background: url(images/line-drawing.png) no-repeat right bottom;
  height: 100%;
  /* 원본의 50% 크기로 축소 */
  background-size: 60%; 
  background-color: #0dace3;
}
.about-items {
  width: 60%;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}
.item {
  overflow: hidden;
  margin-bottom: 20px;
}
.item:hover h3 {
  color: #000;
}
.item:hover img {
  filter: invert(0);
}
.item img {
  height: 120px;
  /* width도 제한 */
  width: 120px;
  /* 비율 유지하며 크기 맞춤 */
  object-fit: contain;
  float: left;
  margin-right: 20px;
  filter: invert(1);
  transition: 0.5s;
}
.item h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  transition: 0.5s;
  letter-spacing: -1px;
}
.item span {
}
.item p {
  overflow: hidden;
  font-size: 17px;
}

/* ################### Section : awards  ###################*/
.awards-inner {
  height: 100%;
  border: 1px solid #000;
}
.awards-inner > div {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.about-awards {
  background-color: #000;
  color: #fff;
}
.about-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.victory-jump {
  background-color: #fff;
}
.victory-jump img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 30px;
}
hr.bar {
  width: 50px;
  height: 4px;
  border: none;
  background-color: crimson;
  /* 위아래 30px 좌우는 auto로 설정 */
  margin: 30px auto;
}
.about-heading p {
  color: #999;
  font-size: 167x;
  /* 16px * 1.5em */
  line-height: 1.5em;
}
.about-heading a {
}
.view-awards {
  color: #bbb;
  border: 1px solid #bbb;
  padding: 5px 15px;
  border-radius: 20px;
  transition: 0.5;
  display: inline-block;
  margin: 20px;
}
.view-awards:hover {
  background-color: #00fbffc9;
  color: #fff;
  border-color: transparent;
}
